﻿@model List<CRUDMVC.database.job>
@{
    ViewBag.Title = "Jobs List";
}
<!-- ModalQuestionsToDelete -->
<input type="hidden" id="urlDeleteJob" value="@Url.Action("DeleteJob","Job")" />
<input type="hidden" id="idDeleteJob" value="0" />
<div class="modal fade" id="myModalQuestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog bg-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalQuestionLabelHead"></h4>
            </div>
            <div class="modal-body">
                <h3 class="modal-title" id="myModalQuestionLabelBody"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btn-deleteJob" class="btn btn-success" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="titleH">Jobs list</h2>
    <div class="jobsContent">
        <div>
            <a href="@Url.Action("newJob","Job")" class="btn btn-primary pull-right btnNewJob">Add New Job</a>
        </div>
        <table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Job Title</th>
                    <th>Job Description</th>
                    <th>CreatedAt</th>
                    <th>ExpiresAt</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @for (int x = 0; x < Model.Count(); x++)
                {
                    <tr>
                        <td>@Model[x].Job1</td>
                        <td>@Model[x].JobTitle</td>
                        <td>@Model[x].Description</td>
                        <td>@Model[x].CreatedAt</td>
                        <td>@Model[x].ExpiresAt</td>
                        <td class="editJob"><a href="@Url.Action("newJob","Job" , new { id = Model[x].id } )"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td id="@Model[x].id" class="delJob"><span class="glyphicon glyphicon-trash deleteConfirm" data-code="@Model[x].id"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>