﻿@model CRUDMVC.database.job
@{
    string textHead = Model != null && Model.id != 0 ? "Modifying job" : "Creating new job";
    ViewBag.Title = textHead;
    string date = "";
    if(Model.id != 0)
    {
        string day = Model.ExpiresAt.Day.ToString().Length == 1 ? "0" + Model.ExpiresAt.Day.ToString() : Model.ExpiresAt.Day.ToString();
        string month = Model.ExpiresAt.Month.ToString().Length == 1 ? "0" + Model.ExpiresAt.Month.ToString() : Model.ExpiresAt.Month.ToString();
        date = Model.ExpiresAt.Year + "-" + month + "-" + day;
    }
}
<input type="hidden" id="urlNewJob" value="@Url.Action("configJob","Job")" />
<input type="hidden" id="inpId" value="@Model.id" />

<div class="container">
    <h2 class="titleH">@textHead</h2>    

    <div class="form-group col-lg-6">
        <label>Job</label>
        <input type="text" id="inpJob" class="form-control" placeholder="Enter a job" value="@Model.Job1" />
    </div>
    <div class="form-group col-lg-6">
        <label>Job Title</label>
        <input type="text" id="inpJobTitle" class="form-control" placeholder="Enter a title" value="@Model.JobTitle" />
    </div>
    <div class="form-group col-lg-6">
        <label>Job Description</label>
        <textarea id="inpJobDescription" class="form-control" placeholder="Enter a description..." rows="1">@Model.Description</textarea>
    </div>
    <div class="form-group col-lg-6">
        <label>Expires At</label>
        <input type="date" id="inpJobExpires" class="form-control" placeholder="Select a date" value="@date" />
    </div>

    <div class="form-group col-lg-12">
        <a href="@Url.Action("Index","Job")" id="cancelJob" class="btn btn-danger">Cancel</a>
        @if (Model.id != 0)
        {
            <input type="button" id="saveNewJob" class="btn btn-success" value="Save Changes" />
        }
        else
        {
            <input type="button" id="saveNewJob" class="btn btn-success" value="Save" />
        }
    </div>
</div>
