﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>CRUD of a job model</h3>
<p>
    Here you can see the crud functions in a job table, using MVC, C #, javascript, ajax among other web technologies.
</p>
