﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Brayan Alexander Torres<br />
    Software development technician<br />
    <abbr title="Phone">P:</abbr>
    6129 0236
</address>

<address>
    <strong>Email:</strong> brayan.torres7714@gmail.com<br />
</address>