﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Job table CRUD
    </h1>
    <p><a href="@Url.Action("Index","Job")" class="btn btn-primary btn-lg">See the jobs &raquo;</a></p>
</div>