﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}
/*Modals Css*/
.CorrectRequest {
    background: #61b33f;
    color: #fff;
}
.FailedReques {
    background: #af3535;
    color: #fff;
}
.container .titleH {
    background: beige;
    padding: 7px 20px;
    margin-top: 0px;
}
.editJob, .delJob {
    text-align: center;
}
    .editJob span {
        font-size: 19px;
        color: #2c9e45;
    }
    .delJob span {
        font-size: 18px;
        color: #bf1f1f;
    }
.btnNewJob {
    margin-bottom: 15px;
}